@model ABB.Catalogo.Entidades.Core.Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeloProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GarantiaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GarantiaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagenTxt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagenTxt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionTecnica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionTecnica)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
