@model ABB.Catalogo.Entidades.Core.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeloProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GarantiaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GarantiaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @if (Model.ImagenTxt != "" || Model.ImagenTxt != null)
            {
                <img style='display:block; width:100px;height:100px;' id='base64image' alt="imagenProducto"
                     src='@(Model.ImagenTxt)' />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionTecnica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionTecnica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesCategoria)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProducto }) |
    @Html.ActionLink("Retornar", "Index")
</p>
