@model ABB.Catalogo.Entidades.Core.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Está por eliminar al usuario: </h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            @Html.ActionLink("Retornar", "Index")
        </div>
    }
</div>
