@model IEnumerable<ABB.Catalogo.Entidades.Core.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label for="txt1" class="control-label col-md-2">
                ID
            </label>
        </th>
        <th>
            <label for="txt1" class="control-label col-md-2">
                CODIGO
            </label>
        </th>
        <th>
            <label for="txt1" class="control-label col-md-2">
                NOMBRES
            </label>
        </th>
        <th>
            <label for="txt1" class="control-label col-md-2">
                ROL
            </label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesRol)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.IdUsuario }) |
            @*@Html.ActionLink("Cambiar contraseña", "CambioClave", new {  id=item.IdUsuario })*@
        </td>
    </tr>
}

</table>
